In [1]:
from fpl_data.player_data import *
import pandas as pd

In [2]:
win_perc = pd.read_csv('data/win_perc.csv')
curateddf = get_curated_player_data()

d:\Fantasy_foot\fantasy_fpl\fpl_data\player_data.py:82: RuntimeWarning: invalid value encountered in scalar divide
  avg_points_per_min = average_points/average_minutes

In [3]:
curateddf.columns

Index(['id', 'first_name', 'web_name', 'team', 'team_code', 'now_cost',
       'photo', 'total_points', 'value_season', 'minutes', 'ict_index_rank',
       'element_type', 'bps', 'influence', 'creativity', 'threat',
       'goals_scored', 'expected_goals', 'assists', 'expected_assists', 'form',
       'selected_by_percent', 'selected_rank', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'expected_goals_per_90',
       'expected_assists_per_90', 'influence_rank', 'creativity_rank',
       'threat_rank', 'position', 'team_name', 'average_points',
       'average_minutes', 'avg_points_per_min', 'goals_scored_last_season',
       'goals_conceded_last_season', 'assists_last_season',
       'minutes_last_season', 'clean_sheets_last_season',
       'total_points_last_season', 'ict_index_last_season',
       'red_cards_last_season', 'yellow_cards_last_season',
       'starts_last_season', 'saves_last_season',
       'penalties_saved_last_season', 'penalties_missed_last_season'],
      dtype='object')

In [4]:
variable_map = {
    'avg_points_per_min':'max'
}

team_selected = pick_team(apply_win_to_players(win_perc,curateddf,5),[33,139,255,352,355,524])[['id','web_name','now_cost','average_points','total_points_last_season']]
team_selected

C:\Users\Ben PC\AppData\Roaming\Python\Python310\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\Ben PC\AppData\Roaming\Python\Python310\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

      id    web_name  now_cost      average_points  total_points_last_season
14    19        Saka        86               165.0                       202
15    20      Saliba        51                39.0                       117
26    33      Archer        45                   0                         6
87   108      Mbeumo        67                   0                       150
103  131   Estupiñan        52                   0                       128
109  139     Lamptey        40                44.0                        23
113  143      Mitoma        66                   0                       138
209  255     Holgate        40  52.666666666666664                        16
262  303   Luis Díaz        77                   0                        62
285  352  Ederson M.        55  145.33333333333334                       121
288  355     Haaland       140                   0                       272
297  365     Rodrigo        56  108.66666666666667                       108
323  398        Shaw        55                98.0                       124
342  415        Isak        77                   0                       100
440  524      Areola        40  44.333333333333336                         7

In [5]:
# variable_map = {
#     'expected_goals':'min',
#     'form':'min'
# }

# team_selected = pick_team(apply_win_to_players(win_perc,curateddf,5),[33,139,255,352,355,524])[['id','web_name','now_cost','average_points','total_points_last_season']]
# team_selected

In [8]:
gameweek_num = 1
team_selected['gameweek_points'] = team_selected['id'].map(check_teams_performance(list(team_selected['id']),gameweek_num))
captain_map = {
    355:"2"
}
bench_map = {
    33:1,
    255:1,
    139:1,
    524:1
}
team_selected['captain'] = team_selected['id'].map(captain_map).fillna(1).astype(int)
team_selected['points_adjusted'] = team_selected['gameweek_points'] * team_selected['captain']
team_selected['bench'] = team_selected['id'].map(bench_map)
team_selected['points_adjusted'] = team_selected.apply(lambda x: 0 if x['bench']==1 else x['points_adjusted'],axis=1)
print("Models Team Performance: "+str(team_selected['points_adjusted'].sum()))
print("Best Team Performance: "+str(get_best_team(gameweek_num)['points'].sum()))

Models Team Performance: 105
Best Team Performance: 127

In [7]:
team_selected

,id,web_name,now_cost,average_points,total_points_last_season,gameweek_points,captain,points_adjusted,bench
14,19,Saka,86,165.0,202,3,1,3,NaN
15,20,Saliba,51,39.0,117,8,1,8,NaN
26,33,Archer,45,0,6,0,1,0,1.0
87,108,Mbeumo,67,0,150,16,1,16,NaN
103,131,Estupiñan,52,0,128,11,1,11,NaN
109,139,Lamptey,40,44.0,23,0,1,0,1.0
113,143,Mitoma,66,0,138,12,1,12,NaN
209,255,Holgate,40,52.666666666666664,16,0,1,0,1.0
262,303,Luis Díaz,77,0,62,7,1,7,NaN
285,352,Ederson M.,55,145.33333333333334,121,6,1,6,NaN
288,355,Haaland,140,0,272,2,2,4,NaN
297,365,Rodrigo,56,108.66666666666667,108,3,1,3,NaN
323,398,Shaw,55,98.0,124,1,1,1,NaN
342,415,Isak,77,0,100,2,1,2,NaN
440,524,Areola,40,44.333333333333336,7,10,1,0,1.0