In [1]:
from fpl_data.player_data import *
import pandas as pd

In [2]:
win_perc = pd.read_csv('win_perc.csv')
curateddf = pd.read_csv('curated.csv')

In [3]:
curateddf.columns

Index(['Unnamed: 0', 'id', 'first_name', 'web_name', 'team', 'team_code',
       'now_cost', 'photo', 'total_points', 'value_season', 'minutes',
       'ict_index_rank', 'element_type', 'bps', 'influence', 'creativity',
       'threat', 'goals_scored', 'expected_goals', 'assists',
       'expected_assists', 'form', 'selected_rank',
       'chance_of_playing_next_round', 'chance_of_playing_this_round',
       'position', 'team_name', 'average_points', 'average_minutes',
       'avg_points_per_min', 'goals_scored_last_season',
       'goals_conceded_last_season', 'assists_last_season',
       'minutes_last_season', 'clean_sheets_last_season',
       'total_points_last_season', 'ict_index_last_season',
       'red_cards_last_season', 'yellow_cards_last_season',
       'starts_last_season', 'saves_last_season',
       'penalties_saved_last_season', 'penalties_missed_last_season',
       'average_win_perc_first_10'],
      dtype='object')

In [4]:
team_selected = pick_team(apply_win_to_players(win_perc,curateddf,9),[33,139,255,352,355,498])[['id','web_name','now_cost','average_points','total_points_last_season']]
team_selected

C:\Users\Ben PC\AppData\Roaming\Python\Python310\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\Ben PC\AppData\Roaming\Python\Python310\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

      id     web_name  now_cost  average_points  total_points_last_season
3      5      Gabriel        50      123.333333                       146
23    29        White        55      122.333333                       156
28    33       Archer        45        0.000000                         6
45    60      Watkins        80      158.000000                       175
110  139      Lamptey        40       44.000000                        23
212  255      Holgate        40       52.666667                        16
229  661     Harrison        55      137.000000                       134
259  291     A.Becker        55      159.333333                       162
273  308        Salah       125      245.000000                       239
290  352   Ederson M.        55      145.333333                       121
293  355      Haaland       140        0.000000                       272
309  373  B.Fernandes        85      190.333333                       176
338  407         Burn        45       95.000000                       129
448  526        Bowen        70      164.000000                       145
467  664  Ward-Prowse        60      152.333333                       142

In [5]:
check_teams_performance(list(team_selected['id']),1)

{5: 1,
 29: 1,
 33: 0,
 60: 5,
 139: 0,
 255: 0,
 661: 0,
 291: 3,
 308: 5,
 352: 6,
 355: 13,
 373: 3,
 407: 2,
 526: 9,
 664: 0}