In [1]:
from fpl_data.player_data import *
import pandas as pd

In [2]:
curateddf = pd.read_csv('curated.csv')
win_perc = pd.read_csv('win_perc.csv')

In [3]:
#curateddf = get_curated_player_data()

In [4]:
win_perc

,Unnamed: 0,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id,home_win_perc,away_win_perc
0,0,2367552,NaN,False,False,15,NaN,0,False,NaN,6,NaN,12,NaN,[],2,2,93335,NaN,NaN
1,1,2367713,NaN,False,False,176,NaN,0,False,NaN,4,NaN,13,NaN,[],3,5,93496,0.500000,0.500000
2,2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321,0.055556,0.944444
3,3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322,0.714286,0.285714
4,4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323,0.444444,0.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696,0.470588,0.529412
376,376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697,0.789474,0.210526
377,377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698,NaN,NaN
378,378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699,0.767442,0.232558
379,379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700,0.444444,0.555556

In [7]:
pick_team(apply_win_to_players(win_perc,curateddf,5),[28,33,139,255,352])

,Unnamed: 0,id,first_name,web_name,team,team_code,now_cost,photo,total_points,value_season,...,total_points_last_season,ict_index_last_season,red_cards_last_season,yellow_cards_last_season,starts_last_season,saves_last_season,penalties_saved_last_season,penalties_missed_last_season,win_perc,average_win_perc_first_10
8,11,12,Gabriel,Martinelli,1,3,80,444145.jpg,5,0.6,...,198,298.1,14,3,34,0,0,0,NaN,0.681615
22,25,26,Leandro,Trossard,1,3,70,116216.jpg,1,0.1,...,154,225.2,8,1,26,0,0,0,NaN,0.681615
23,26,29,Benjamin,White,1,3,55,198869.jpg,1,0.2,...,156,130.8,15,5,36,0,0,0,NaN,0.681615
28,35,33,Cameron,Archer,2,7,45,433979.jpg,0,0.0,...,6,0.9,0,0,0,0,0,0,NaN,0.481365
45,61,60,Ollie,Watkins,2,7,80,178301.jpg,5,0.6,...,175,256.7,13,4,36,0,0,1,NaN,0.481365
88,121,112,Ethan,Pinnock,4,94,45,231065.jpg,1,0.2,...,112,127.2,10,0,30,0,0,0,NaN,0.532857
108,147,139,Tariq,Lamptey,5,36,40,232792.jpg,0,0.0,...,23,20.6,1,1,3,0,0,0,NaN,0.560952
208,282,255,Mason,Holgate,9,11,40,194164.jpg,0,0.0,...,16,21.5,2,1,5,0,0,0,NaN,0.432795
287,409,352,Ederson,Ederson M.,13,43,55,121160.jpg,6,1.1,...,121,52.1,11,3,35,46,0,0,NaN,0.751779
290,412,355,Erling,Haaland,13,43,140,223094.jpg,13,0.9,...,272,358.1,13,5,33,0,0,0,NaN,0.751779
307,432,373,Bruno,B.Fernandes,14,1,85,141746.jpg,3,0.4,...,176,359.3,18,6,37,0,0,0,NaN,0.767025
325,454,396,Marcus,Rashford,14,1,90,176297.jpg,3,0.3,...,205,282.2,13,2,32,0,0,0,NaN,0.767025
333,463,402,Miguel,Almirón,15,4,65,179018.jpg,2,0.3,...,158,193.3,15,2,29,0,0,0,NaN,0.462821
354,491,430,Kieran,Trippier,15,4,65,77794.jpg,2,0.3,...,198,285.8,16,5,38,0,0,0,NaN,0.462821
362,501,28,Matt,Turner,16,17,40,224068.jpg,2,0.5,...,0,0.0,0,0,0,0,0,0,NaN,0.337244